{
    "reporter": ["text", "lcov"],
    "include": ["public/scripts"],
    "exclude": [
        "public/scripts/*.js",
        "public/scripts/schematic/layout.js",
        "public/scripts/schematic/style.js"
    ]
}